<nav>
  <ul>
    <li><%= link_to 'Home', root_path %></li>
    <% if logged_in? %>
      <% if current_user.cart.order_items.count > 0 %>
        <li><%= link_to "Cart (#{current_user.cart.order_items.count})", cart_path %></li>
      <% else %>
        <li><%= link_to "Cart", cart_path %></li>
      <% end %>
      <li><%= link_to 'Log Out', logout_path, method: :delete %></li>
    <% else %>
      <li><%= link_to 'Log In', login_path %></li>
    <% end %>
  </ul>
</nav>